<app-nav-bar></app-nav-bar>

<div style="display: flex;align-content: center;justify-content: center;">
  <h3>Welcome to Registration Form</h3>

</div>
<div style="display: flex;justify-content: center;align-content: center;">
  <p>Are you looking for an efficient way to collect data from your guests or potential customers? Data is vital for your company to grow as a business. It is possible to collect important data from your website guests or potential customers through the online registration form. These forms will make it easier to collect information for your business from your customers, members, or participants and will allow you to learn useful information.</p>
</div>
