<nav class="navbar navbar-dark bg-primary" style=" display: flex; justify-content: start;">
  <!--  <img src="../../assets/icon1.jpg">
  -->
  <h4 class="child"><a routerLink="/register" style="color: white;text-decoration: none;">Registration Form</a> </h4>
  <h5 style="color: white;  margin-left: 50px;">
    <a routerLink="/viewrequest" style="color: white;text-decoration: none;">View-Requests</a>
  </h5>
  <h5 style="color: white;  margin-left: 50px;">
    <a routerLink="/home" style="color: white;text-decoration: none;">Home</a>
  </h5>




  <!-- <img src='/src/assets/final-lex.png'> -->

</nav>
